/**
 * @name OUTDATED REMOVE
 * @version 0
 * @author Cradex#6320
 * @authorId  
 * @description This Project Has Been Removed
 * @source https://github.com/Septhev/Fix-Discord-Font
 * @website 
 * @invite 
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand:wght@300&display=swap');

@import url("https://raw.githubusercontent.com/partedMagic/discord-comfortaa-font/main/margins.css");

:root {
    --version1_0_6: none;
    --font: "Quicksand";
    --code-font: "Quicksand";
}
